<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/436d7089-8a8e-4260-991a-7d04bf81b507/resourcegroups/MyGroup/providers/Microsoft.Web/sites/ChangeCounsellingWeb12345</ResourceId>
    <ResourceGroup>MyGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://changecounsellingweb12345.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>changecounsellingweb12345.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ChangeCounsellingWeb12345</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ChangeCounsellingWeb12345</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CounsellorDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=davidserver12345.database.windows.net;Initial Catalog=ChangeCounselling;User ID=david;Password=cuadra12345.." />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ChangeCounselling.Data.Services.CounsellorDbContext, ChangeCounselling.Data" MigrationConfiguration="ChangeCounselling.Data.Migrations.Configuration, ChangeCounselling.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CounsellorDbContext-Web.config Connection String">
      <ParameterValue>Data Source=davidserver12345.database.windows.net;Initial Catalog=ChangeCounselling;User ID=david;Password=cuadra12345..</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>