@model IEnumerable<ChangeCounselling.Data.Models.Book>

@{
    ViewBag.Title = "Index";
}

<style>

    body {
        background-color: #f9ccac;
    }

    h1 {
        text-align: center;
    }
</style>

<h1><strong>Bookings</strong></h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    @Html.Partial("_BookSummary", item)
}