@{
    ViewBag.Title = "About";
}
<h1><strong>@ViewBag.Title</strong></h1>
<style>
     body {
        background-color: #ffffe6;
    }
     
     h1{
         text-align: center;
         font-family:Arial, sans-serif;
     }

     h4{
         text-align: center;
     }

</style>

<h4>
    <h4><strong>Counselling is a safe and confidential space, in which you can be free to talk about whatever it is that has brought you here. However, these are some of the issues we would typically work with:</strong></h4>
    
    <ul>
        <li>
            <strong>Anxiety and Panic Attacks</strong>
            <br>
            Anxiety is a normal response to a threatening situation. However, negative thinking patterns can cause us to become very stuck. Using elements of cognitive behavioural therapy, I will work with you to try and form more helpful habits, leading to changes in behaviour, thinking and feeling.
            Work related stress
            Finding a satisfactory work - life balance can be challenging. Learning how to deal with the stresses that work can bring and practising self - care is worth giving time and attention to.
        </li>
        <br>

        <li>
            <strong>Depression</strong>
            <br>
            Depression can affect many people, at different stages of life, to many varying degrees. Counselling is recommended by many GPs nowadays as an alternative, or complement, to taking medication. Underlying issues can be examined, as well as behaviour and lifestyle changes.
        </li>
        <br>
        <li>
            <strong>Bereavement and Loss</strong>
            <br>
            The loss of a loved one is a massive life change. Grief is a natural reaction and a process that needs to be worked through in time. Counselling can help you process your emotions and simply give you a space to explore your loss, helping you to move forward in time.
        </li>
        <br>
        <li>
            <strong>Familial issues</strong>
            <br>
            Family conflict and challenging relationships is part of being human. As children, we are shaped by what has gone on in our families¬ the positive, negative and everything in between. As adults, we can choose to move beyond these influences and become the person that we want to be.
        </li>
        <br>
        <li>
            <strong>Abuse and Trauma</strong>
            <br>
            Any form of abuse or trauma - physical, sexual, psychological etc - is not easy to talk about. But the counselling space is ultimately a  healing space, allowing the client to reconnect to their true selves and develop their inner resources and resilience.
        </li>
        <br>
        <li>
            <strong>Relationship issues</strong>
            <br>
            Individual counselling is a very helpful precursor or adjunct to couples counselling. There are various tools which can be learnt and applied to help relationships function more satisfactorily. For those looking to start a relationship, working on one's own self is often regarded as the most important first step in that process.
        </li>
        <br>
        <li>
            <strong>Sexuality</strong>
            <br>
            Having a supportive space to talk about and explore who we really are can be an invaluable resource, even with the changed times that we live in. Coming to terms with one's sexuality, as well as coping with discrimination are issues that can be worked through in counselling.
        </li>
        <br>
        <li>
            <strong>Self esteem issues</strong>
            <br>
            Unknowingly, we often hold ourselves back due to our own unhelpful thoughts or ideas about ourselves. Psychotherapy is about lifting the lid on who we really are, where these ideas have come from, and it ultimately highlights the need to be more self - compassionate and less self - critical.
        </li>
        <br>
        <li>
            <strong>Suicidal thoughts and self harm</strong>
            <br>
            I have a certificate in the internationally recognised ASIST training (Applied Suicide Intervention Skills). Suicidal thoughts can be overcome and meaning once again found in life, even when it seems hopeless. Self harm is a flawed coping strategy, so I can help you to identify healthier coping strategies and build up your resilience.
        </li>
        <br>
        <li>
            <strong>Personal Development</strong>
            <br>
            The truth is that everybody can benefit from the self - exploration that counselling offers, no matter what life stage you're at or even if you don't have any 'burning issues'. Personal development is about gettting to know yourself better, learning and growing, leading to deeper contentment and fulfillment.
        </li>
    </ul>
</h4>
