@{
    ViewBag.Title = "Contact";
}

<style>
       h1 {
           text-align:center;
       }
</style>
<h1><strong>@ViewBag.Title</strong></h1>


<address>
    Anner Road<br />
    Kilmainham<br />
    Dublin 8<br />
    <abbr title="Phone">P:</abbr>
    086 444 222
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:changecounsellingireland@gmail.com">changecounsellingireland@gmail.com</a><br />
    
</address>