@model IEnumerable<ChangeCounselling.Data.Models.Bill>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<style>

    body {
        background-color: #f2ae72;
    }

    h1 {
        text-align: center;
    }
</style>

<h1><strong>Bills</strong></h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    @Html.Partial("_BillSummary", item)
}